Package: com.user.fpsdyn
Name: FPSDyn
Version: 4.1.7
Architecture: iphoneos-arm
Description: FPS 悬浮显示（Theos 真工具链编译，rootless）
Maintainer: user
Author: user
Section: Tweaks
Depends: mobilesubstrate, firmware (>= 14.0)
